@model List<Song>
@{
    ViewData["Title"] = "Playlist";
}
<form>
    <label class="form-label d-block">
        Playlist Name
        <input class="form-control form-control-lg" type="text"
               placeholder="Enter a name for you playlist" aria-label=".form-control-lg
example">
    </label> <button class="btn btn-primary btn-lg mb-3">
        Save
        playlist
    </button>
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Artist</th>
            <th scope="col">Genre</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var song in @Model)
        {
            <tr>
                <td>@song.Artist</td>
                <td>@song.Genre</td>
                <td>@song.Name</td>
            </tr>
      }
    </tbody>
</table>
