@model IEnumerable<Song>

<h2>Songs</h2>

<table class="table">
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Genre</th>
    </tr>

    @foreach(var song in Model)
     {
            <tr>
                <td><a href=/Songs/ViewSong/@song.SongID>@song.SongID</a></td>
                <td>@song.Name</td>
                <td>@song.Artist</td>
                <td>@song.Genre</td>
            </tr>
     }


</table>

<iframe width="350" height="200" src="https://www.youtube.com/embed/r_pwpQeBU7A?si=gPGQ4yWYUkvXj6Uq&amp;clip=Ugkx8AdnecckBoH6LFiS3aNu_kkV2j1xdqVY&amp;clipt=EP_5mgQY386eBA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="350" height="200" src="https://www.youtube.com/embed/eWLVBP3VrO4?si=V6wDtQ-JKMJ5PTUE&amp;clip=Ugkx2d4XR6cG-wE_hHOa7bajlXBHg07UcLQw&amp;clipt=EKO_EBjy1BM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="350" height="200" src="https://www.youtube.com/embed/ELyeyWKCBNI?si=JNUWoqXZ-4FN_uZP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="350" height="200" src="https://www.youtube.com/embed/WQ8X8WksKs8?si=WPzVEKLNkwIpzC9m" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="350" height="200" src="https://www.youtube.com/embed/D6DAH2z0Mwc?si=n5W3AB_eLYD4NCU0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="350" height="200" src="https://www.youtube.com/embed/ZDz28ZEMGe4?si=qrhpkFRly-8308Qf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="350" height="200" src="https://www.youtube.com/embed/Vq41VOvzyFc?si=GtT4af3w3lszFPxL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="350" height="200" src="https://www.youtube.com/embed/kc7WN762c0w?si=4VKYXaDAnxYNKnXw&amp;clip=UgkxjFUy02hPsmjWyS00BYjmSGOjWwNh4wt7&amp;clipt=EKSjAxiE-AY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="350" height="200" src="https://www.youtube.com/embed/VTLQ4hSn9To?si=8l59pOQh8FlosWNK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="350" height="200" src="https://www.youtube.com/embed/hGgK2DziDqQ?si=khFKH-QnRDKnV2-B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="350" height="200" src="https://www.youtube.com/embed/VJ8yIcdyRIw?si=g-b7b3zoUo5Lkt1J" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="350" height="200" src="https://www.youtube.com/embed/c1zJzr-kWsI?si=mM3aS_Rtdmzo_KYW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="350" height="200" src="https://www.youtube.com/embed/h2QWjsxpYNs?si=CCTI_9ib6UpMTX7w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="350" height="200" src="https://www.youtube.com/embed/io8w2qusfXw?si=bO5rLDLAmCHHdn6Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="350" height="200" src="https://www.youtube.com/embed/ZEYvgoE1Yew?si=I_df-Q0k9zmNKRqD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="350" height="200" src="https://www.youtube.com/embed/ZD0_3z8HTVo?si=OQHJyxS0MBtWWUxV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="350" height="200" src="https://www.youtube.com/embed/qHuS7tUbxYI?si=7YLwNd8tuaIDYqEA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="350" height="200" src="https://www.youtube.com/embed/rn_ZkJ_DY_0?si=W6JeRgMvG_t2NSBa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="350" height="200" src="https://www.youtube.com/embed/3T2Lyho_91Y?si=GBBk2Y7HYrwuUrJr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="350" height="200" src="https://www.youtube.com/embed/buv16gNTXt8?si=ExcuVqrLIc1WcJXf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="350" height="200" src="https://www.youtube.com/embed/sJsny7X-Odg?si=LGg-RJNUd_iBlgYO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="350" height="200" src="https://www.youtube.com/embed/0qJs3yghlk8?si=AVHhINh79DHf2G1Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<iframe width="350" height="200" src="https://www.youtube.com/embed/2uKMYic0I5M?si=32BPVMXp0tdPdlgY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

