@model Song

<h2>Update @Model.Name</h2>

@using (Html.BeginForm("UpdateSongsToDatabase", "Songs", "Post"))
{
    <input asp-for="SongID" type="hidden" value="@Model.SongID" />

    <label asp-for="Name" class="control-label">SongName</label>
    <input type="text" name="SongName" class="form-control" value="@Model.Name" />

    <label asp-for="Artist" class="control-label">SongArtist</label>
    <input type="text" name="SongArtist" class="form-control" value="@Model.Artist" />

    <input type="submit" value="Update Song" class="btn btn-primary" />
}


