@using PlaylistProject.Controllers
@model IEnumerable<Playlist>

@{
    ViewData["Title"] = "Playlist";
}

<h1>My Saved Playlists</h1>

<ul>
    @foreach (var playlist in Model)
    {
    <li>
        <a asp-controller="MyPlaylist" asp-action="Index" asp-route-playlistName="@playlist.Name" asp-route-playlistId="@playlist.Id" asp-route-genre="@playlist.Genre">@playlist.Name</a>
    </li>
    }
</ul>